.btn-outline-primary {
    width: 37px;
}

.img-wrap {
    display: flex;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    align-items: center;
}
.img-wrap img{
    max-width: 100%;
    /* object-fit: cover; */
}
/* .hidden{
    display: none;
} */
.count-button .d-flex{
    width: fit-content;
    margin-bottom: 10px;
}
.card p,.card h3{
    margin-left: 5px;
}